{% extends 'layout.html' %}
{% block title %}Address | {% endblock %}
{% block header %} 
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> 
<link rel="stylesheet" type="text/css" href="/static/css/address.css"> 
{% endblock %}

{% block content %}

<div class="table-content">
    <h4>Current Balance: ETH ${{ balance }}</h4>
    <table id="transactions">
        <thead>
            <tr>
               <th>Block Number</ht> 
               <th>TimeStamp</ht>
               <th>Hash</ht>
               <th>Nonce</ht>
               <th>From</ht>
               <th>To</ht>
               <th>Value (Wei)</ht> 
        </thead>
        <tbody>
        {% for item in history.result %}    
            <tr>
                <td><span class="hash-tag text-truncate"><a href="/block/{{ item.blockNumber }}">{{ item.blockNumber }}</a></span></td>  
                <td>{{ item.timeStamp }}</td>  
                <td><span class="hash-tag text-truncate"><a href="/transaction/{{ item.hash }}">{{ item.hash }}</a></span></td>  
                <td>{{ item.nonce }}</td>  
                <td><span class="hash-tag text-truncate"><a href="/address?address={{ item.from }}&block=0">{{ item.from }}</a></span></td>  
                <td><span class="hash-tag text-truncate"><a href="/address?address={{ item.to }}&block=0">{{ item.to }}</a></span></td>  
                <td>{{ item.value }}</td>  
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
$(document).ready( function () {
    $('#transactions').DataTable({ "columnDefs": [
    { "width": "20%", "targets": 0 }
  ], "lengthChange": false});
} );
/* 

####    HERE I TRIED TO CALCULATE THE BALANCE OF GIVEN DATE BUT ISN'T THE SAME AS GIVEN ON API SO I GAVE UP  :(    ####


const valores= {{ history.result|tojson|safe }};
let total=0

date_to_timestamp = new Date("2021-11-12") / 1000;


valores.forEach(function(o,i){
    
        let eth_value = parseFloat(o.value) / 1000000000000000000;
        
        total += eth_value;
    }else{
        let eth_value = parseFloat(o.value) / 1000000000000000000;
        total -= eth_value
    }
}) 
console.log(total)

*/
{% endblock %}