{% extends 'layout.html' %}
{% block title %}Address | {% endblock %}
{% block header %} 
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> 
<link rel="stylesheet" type="text/css" href="/static/css/address.css"> 
{% endblock %}

{% block content %}
<div class="table-content">
    <div class="col=6">
        <h4>Current Balance: BTC ${{ balance }}</h4>
    </div>
    <table id="transactions">
        
        <thead>
            <tr>
               <th>Block height</ht> 
               <th>Confirmations</ht>
               <th>REF Balance</ht>
               <th>Spent</ht>
               <th>Trx_hash</ht>
               <th>Value</ht> 
        </thead>
        <tbody>
        {% for item in address_info.txrefs  %}    
            <tr>
                <td><span class="hash-tag text-truncate">{{ item.block_height }}</span></td>  
                <td>{{ item.confirmations }}</td>  
                <td>{{ item.ref_balance }}</td>  
                <td>{{ item.spent|safe }}</td>  
                <td><span class="hash-tag text-truncate">{{ item.tx_hash }}</span></td>  
                <td>{{ item.value }}</td>  
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
$(document).ready( function () {
    $('#transactions').DataTable({ "columnDefs": [
    { "width": "20%", "targets": 0 }
  ], "lengthChange": false});
} );

{% endblock %}