{% extends 'layout.html' %}
{% block title %}Address | {% endblock %}
{% block header %} 
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> 
{% endblock %}

{% block content %}
<style>
.hash-tag {
    max-width: 171px;
    display: inline-block;
    vertical-align: bottom;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-fluid{
    width:62em;
    margin-top:10em;
    
}
#transactions > tbody > tr > td{
    font-size:11px;
}
body,
html {
    height: 100%
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
.footer-distributed{bottom: -700;}
.table-content{background-color: white}
</style>
<div class="table-content">
    <table id="transactions">
        <thead>
            <tr>
               <th>Block Number</ht> 
               <th>TimeStamp</ht>
               <th>Hash</ht>
               <th>Nonce</ht>
               <th>Block Hash</ht>
               <th>From</ht>
               <th>To</ht>
               <th>Value</ht> 
        </thead>
        <tbody>
        {% for item in history.result %}    
            <tr>
                <td>{{ item.blockNumber }}</td>  
                <td>{{ item.timeStamp }}</td>  
                <td><span class="hash-tag text-truncate">{{ item.hash }}</span></td>  
                <td>{{ item.nonce }}</td>  
                <td><span class="hash-tag text-truncate"><a href="/block/{{ item.blockNumber }}">{{ item.blockNumber }}</a></span></td>  
                <td><span class="hash-tag text-truncate"><a href="/address?address={{ item.from }}">{{ item.from }}</a></span></td>  
                <td><span class="hash-tag text-truncate"><a href="/address?address={{ item.to }}">{{ item.to }}</a></span></td>  
                <td>{{ item.value }}</td>  
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
$(document).ready( function () {
    $('#transactions').DataTable({ "columnDefs": [
    { "width": "20%", "targets": 0 }
  ]});
} );
const valores= {{ history.result|tojson|safe }};
let total=0

valores.forEach(function(o,i){
    if(o.to == "0x7a250d5630b4cf539739df2c5dacb4c659f2488d"){
        let eth_value = parseFloat(o.value) / 1000000000000000000;
        
        total += eth_value;
    }else{
        let eth_value = parseFloat(o.value) / 1000000000000000000;
        total -= eth_value
        
        console.log(eth_value)
    }
})
{% endblock %}