<html>
<head>
    <title>{% block title %}{% endblock %}Trace Labs</title>
    <link href="/static/img/eth.ico" rel="shortcut icon">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/particles.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
    {% block header %}{% endblock %}

</head>

<body>
    <style>
        .coin{border-radius: 10px;}
        .coin.selected{box-shadow: 1px 1px 10px 0px #0000006b}
        .coin:hover{ cursor: pointer;box-shadow: 1px 3px 10px 6px #0000006b;}
        .hide{display: none;}
       
    </style>

    <div id="particles-js"></div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <h1>Welcome to Ethereum transactions crawler task</h1>

            </div>
            <div class="col-12">
                <div class="coin eth selected"><h2><img width="35" src="/static/img/eth.svg" />Ethereum price: USD ${{ ethereum_price["last"] }}</h2></div>
                <div class="coin btc"><h2><img width="35" style="margin: 0.2em;" src="/static/img/bitcoin.svg" />Bitcoin price: USD ${{ bitcoin_price["last"] }}</h2></div>
            </div>
            <div class="col-12">
                <form class="d-flex" action="/address" method="get">
                    <label class="input">
                        <input class="field" type="text" id="address" name="address" placeholder=" ">
                        <span class="label">Insert the address of wallet </span>
                    </label>
                    <label class="input">
                        <input class="field" type="text" id="block" name="block" placeholder=" ">
                        <span class="label">Start Block</span>
                        <p style="font-size: 13px;margin: -15px 3px 0px">default is zero</p>
                    </label>
                    <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
            <div class="col-12">
              {% block content %}
              {% endblock %}
            </div>
            
        </div>
    </div>

    
        <footer class="footer-distributed">
            <div>
				<p>Ethereum Crawler &copy; 2021</p>
			</div>

		</footer>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
    
    <script src="/static/js/index.js"></script>
    <script type="text/javascript">


        particlesJS.load('particles-js', "/static/js/particlesjs-config.json", function() {
            console.log('callback - particles.js config loaded');
        });

        function createRipple(event) {
            const button = event.currentTarget;

            const circle = document.createElement("span");
            const diameter = Math.max(button.clientWidth, button.clientHeight);
            const radius = diameter / 2;

            circle.style.width = circle.style.height = `${diameter}px`;
            circle.style.left = `${event.clientX - button.offsetLeft - radius}px`;
            circle.style.top = `${event.clientY - button.offsetTop - radius}px`;
            circle.classList.add("ripple");

            const ripple = button.getElementsByClassName("ripple")[0];

            if (ripple) {
                ripple.remove();
            }

            button.appendChild(circle);
        }

        const buttons = document.getElementsByTagName("button");
        for (const button of buttons) {
            button.addEventListener("click", createRipple);
        }
        $('.coin').click(function(){
            $('.coin').removeClass('selected')
            $(this).addClass('selected');
            $('.input').removeClass('hide')
            if($(this).hasClass('btc')){
                $('.input:eq(1)').addClass('hide')
                $('form').attr('action', '/bitcoin/address')
            }else{
                $('form').attr('action', '/address')
            }
        })

        {% block js %}{% endblock %}
    </script>


</body></html>